<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">My Blog</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"
             routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-posts" routerLinkActive="active">Add posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="contacts" routerLinkActive="active">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
