<form>
    <h4>Add new post</h4>
    <div class="mb-3">
      <label for="title">Title</label> <br>
      <input type="text" name="title" id="title" class="pr-5 pl-4" [(ngModel)]="title"> {{title}}
    </div>
    <div class="mb-3  ">
      <label for="description">Description</label> <br>
      <textarea name="description" id="description" cols="30" rows="5" [(ngModel)]="description">{{description}}</textarea>
    </div>
    <button type="submit" class="pr-3 shadow-sm" [disabled] = "title === '' || description === ''"  (click)="onSave()">Save</button>
</form>
