<div class="row m-3">
  <div class="post-details p-3" *ngIf="post">
    <p><strong>Created on:</strong> {{ post.date }}<br> </p>
    <h5> <strong>Title:</strong> <br>{{ post.title }} </h5>
    <p><strong>Description:</strong> <br> {{ post.description }}</p>
    <a  (click)="onDelete()" class="btn btn-danger">Delete</a>&nbsp;
    <a routerLink="edit" routerLinkActive="active" class="btn btn-dark pr-4" (click)="onEdit()">Edit</a>
  </div>
  <div class="col-5">
    <router-outlet></router-outlet>
  </div>
</div>
