<div class="container-lg row">
  <div class="col-4">
    <div class="border border-dark bg-light ml-3 mb-3 p-2"
         *ngFor="let post of allPosts"
    >
      <p>Created on: {{ post.date }} </p>
      <h5>Title: {{ post.title }}</h5>
      <a  class="read-more btn btn-dark m-1"
          [routerLink]="[post.id]"
          routerLinkActive="active"
      >Read more >></a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

